[user]
	email = raj18p1723@gmail.com
	name = Rajshekar
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = C:/Users/rajshekar
